@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
</form>
</div>