@{
    ViewData["Title"] = "Read Blob Page";
}

<div class="text-center">
    <h1 class="display-4">Enter Blob Details</h1>
    <form method="post">
    <input type="container" name="container" placeholder="Container Name">
    <input type="blob" name="blob" placeholder="Blob Name">
    <button>Login</button>
</form>
</div>